.containar {
    width: 82%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-right: auto;
    margin-left: auto
}
.toolbar {
    display: flex;
    
    justify-content: space-between;
    padding: 1.5rem 0;
    border-bottom: 1px solid #eee;
}
.main-nav {
    border-bottom: 1px solid #eee;
    display: fixed;
    display: flex;
    width: 100%;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    
}

.slider {
    position: relative;
    width: 100%;
    height: 60rem;
    overflow: hidden;
}
.cards {
    display: flex;
    margin-top: -13rem;
    padding-bottom: 15rem;
    position: relative;
    z-index: 1;
    justify-content: space-between;
}
.features {
    margin-bottom: 15rem;
}

.fun-facts {
    height: 50vh;
    background-image:  url(../img/fun-bg.jpg); /* Image URL */
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    color: white;
    margin-bottom: 15rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(#007bff,0.8 );

    }
    
   
}

.who-are-we {
    display: flex;
    flex-direction: column;
    margin-bottom: 15rem;
    
}
.who-we {
    display: flex;
}

.contact {
    height: 80vh;
    background-image: url(../img/call-bg.jpg);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    color: white;
    margin-bottom: 15rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(#1a76d1,0.8 );

    }
    
}


.portfolio {
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
    margin-bottom: 15rem;
}

.services {
    padding-bottom: 15rem;
}

.pricing-table {
    
    background: #f9f9f9;
    padding: 10rem 0;
}